@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
  color: #ECDFCC;
  color: #a5b68d;
  color: #fcfaee;
  color: #da8359;
  font-family: "Cormorant Garamond", serif;
}

#index {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: #fcfaee;
  
  
    #login {
      position: absolute;
      right: 0;
      background: none;
      border: none;
      font-size: 2rem;
      font-weight: 700;
      margin: 10px;
      cursor: pointer;
    }
  
  #title,#not-found {
    font-size: 10rem;
    text-align: center;
    margin-top: 50px;
  }
  svg {
    max-width: 700px;
    max-height: 700px;
    width: 90%;
    height: 60dvh;
    align-self: center;
    g {
      * {
        stroke: #da8359;
      }
      #path1 {
        stroke-dasharray: 1444.1029052734375;
        stroke-dashoffset: 1444.1029052734375;
        animation: animate 1s linear forwards;
      }
      #path2,
      #path3,
      #path4 {
        stroke-dasharray: 245.78990173339844;
        stroke-dashoffset: 245.78990173339844;
        animation: animate 0.5s 1s linear forwards;
      }
      #path5 {
        stroke-dasharray: 109.57804870605469;
        stroke-dashoffset: 109.57804870605469;
        animation: animate 0.25s 1.5s linear forwards;
      }
    }
  }
  .form{
    position: absolute;
    left: calc(50% - 225px);
    top: calc(50% - 225px);
    width: 450px;
    height: 450px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     border-radius: 8px;
     box-shadow: 0 2px 3px 2px #da8359;
     *{
      font-size: 2rem;
      font-weight: 700;
      color: #da8359;
      background: none;
     }
     input{
      padding: 2px;
      border: 3px solid #a5b68d;
      border-radius: 8px;
      outline: none;
      &:focus {
        border-color: #da8359;
      }
     }
     button{
      box-shadow: 0px 2px 1px 2px #da8359;
    &:active{
      box-shadow: 0px 0px 1px 2px #da8359;
    }
    .message{
      color: #a5b68d;
    }
     }
  }
}

#dashboard {
  position: relative;
  min-height: 100dvh;
 

  header {
    height: 100px;
    background-color: #fcfaee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    * {
      font-size: 1.5rem;
      font-weight: 700;
    }
    #reload {
      font-size: 2rem;
    }
    #filter {
   
      
      * {
        margin: 2px;
        color: #da8359;
      }
      form{
        display: flex;
        align-items: center;
        input,select {
          padding: 2px;
          border: 3px solid #a5b68d;
          border-radius: 8px;
          outline: none;
          &:focus {
            border-color: #da8359;
          }
        }
        span{
          width: fit-content;
          display: inline-block;
          position: relative;
          *{
            margin: 0;
          }
         
          button{        
            position: absolute;
            right: 5px;
            top: calc(50% - 0.75rem);
            padding: 2px;
            background:none;
            border: none;        
            img{
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    
     
    }
    #identity {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      #admin-btns{
        *{
          margin-inline: 5px;
        }
      }
    }
    #aside-menu-btn{
      font-size: 2rem;
      display: none;
      transition: 0.3s;
      &.active{
        rotate: 0.25turn;
      }
    }
  }
  #body{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fcfaee;
    min-height: calc(100dvh - 100px);
    #link-list {
        width: 15%;
        background-color: #a5b68d;
        display: flex;
        flex-direction: column;
        align-items: center;
        * {
            font-size: 1.5rem;
            font-weight: 700;
            color: #fcfaee;
          }
      }
      #aside-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        right: 0;
        height: 100%;
        width: 0%;
        background-color: #fcfaee;
        opacity: 0;
        transition: 0.3s;
        z-index: 1;
        *{
          font-size: 1.5rem;
          font-weight: 700;
          margin-block: 10px;
        }
        
        &.active {
          width: 100vw;
          opacity: 1;
        }
        form{
          display: flex;
          flex-direction: column;
          align-items: center;
          input,select {
            padding: 2px;
            border: 3px solid #a5b68d;
            border-radius: 8px;
            outline: none;
            &:focus {
              border-color: #da8359;
            }
          }
          span{
            width: fit-content;
            display: inline-block;
            position: relative;
            *{
              margin: 0;
            }
           
            button{        
              position: absolute;
              right: 5px;
              top: calc(50% - 0.75rem);
              padding: 2px;
              background:none;
              border: none;        
              img{
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
          label{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }  
     
      main {
       #controls{
        width: fit-content;
        *{
          font-size: 1.5rem;
          font-weight: 700;
          color: #da8359;
          margin-inline: 5px;
        }
       }
       #pdf-container{
        width: fit-content;
       }
      }
  }
  
}
#login-dialog {
  position: fixed;
  left: calc(50% - 225px);
  top: calc(50% - 225px);
  transform: translateY(100px);
  opacity: 0;
  width: 450px;
  height: 450px;
  background-color: #fcfaee;
  border: none;
  border-radius: 16px;
  filter: drop-shadow(0px 3px 5px #da8359);
  transition: 0.7s;
  z-index: 1;
  form {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    #close-login-modal {
      position: absolute;
      right: 15px;
      top: 5px;
      border: none;
      cursor: pointer;
    }
    * {
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      background: none;
    }
    section {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
     
    }
    #login-message{
      color: #a5b68d;
    }
    input {
      padding: 2px;
      border: 3px solid #a5b68d;
      border-radius: 8px;
      outline: none;
      &:focus {
        border-color: #da8359;
      }
    }
  }
  &.open {
    transform: none;
    opacity: 1;
  }
}
#alert-dialog{
  position: fixed;
  left: calc(50% - 225px);
  top: calc(50% - 225px);
  transform: translateY(100px);
  opacity: 0;
  width: 450px;
  height: 450px;
  background-color: #fcfaee;
  border: none;
  border-radius: 16px;
  filter: drop-shadow(0px 3px 5px #da8359);
  transition: 0.7s;
  z-index: 1;
  #close-alert-modal {
    position: absolute;
    right: 15px;
    top: 5px;
    border: none;
    cursor: pointer;
  }
  * {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    background: none;
    color: #da8359;
  }
  #alert{
    position: relative;
    top: calc(50% - 21.5px);
    text-align: center;
  }
  &.open {
    transform: none;
    opacity: 1;
  }
}
#upload-dialog{
  position: fixed;
  left: calc(50% - 225px);
  top: calc(50% - 225px);
  transform: translateY(100px);
  opacity: 0;
  width: 450px;
  height: 450px;
  background-color: #fcfaee;
  border: none;
  border-radius: 16px;
  filter: drop-shadow(0px 3px 5px #da8359);
  transition: 0.7s;
  z-index: 1;
  #close-upload-modal {
    position: absolute;
    right: 15px;
    top: 5px;
    border: none;
    cursor: pointer;
  }
  * {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    background: none;
    color: #da8359;
  }
  #file{
    position: relative;
    top: 20%;
    left: 10%;
    width: 80%;
  }
  #upload-message{
    position: relative;
    top: 35%;
    text-align: center;
  }
  #confirm-upload{
    position: relative;
    left: calc(50% - 32px);
    top: 50%;
    text-align: center;
    box-shadow: 0px 2px 1px 2px #da8359;
    &:active{
      box-shadow: 0px 0px 1px 2px #da8359;
    }
  }
  &.open {
    transform: none;
    opacity: 1;
  }
}
#delete-dialog{
  position: fixed;
  left: calc(50% - 225px);
  top: calc(50% - 225px);
  transform: translateY(100px);
  opacity: 0;
  width: 450px;
  height: 450px;
  background-color: #fcfaee;
  border: none;
  border-radius: 16px;
  filter: drop-shadow(0px 3px 5px #da8359);
  transition: 0.7s;
  z-index: 1;
  #close-delete-modal {
    position: absolute;
    right: 15px;
    top: 5px;
    border: none;
    cursor: pointer;
  }
  * {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    background: none;
    color: #da8359;
  }
  #delete-message{
    position: relative;
    top: calc(50% - 21.5px);
    text-align: center;
  }
  #confirm-delete{
    position: relative;
    left: calc(50% - 28.655px);
    top: 50%;
    text-align: center;
    box-shadow: 0px 2px 1px 2px #da8359;
    &:active{
      box-shadow: 0px 0px 1px 2px #da8359;
    }
  }
  &.open {
    transform: none;
    opacity: 1;
  }
}
button:not(#close-modal),
a {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    border-radius: 8px;
    background-color: #da8359;
    transition: 0.3s;
  }
  
  &:focus-visible::after {
    //主元素被tab後，偽元素的變化
    width: 100%;
  }
}
*::placeholder{
    color: #da8359;
}
@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width:576px){
  #login-dialog,#alert-dialog,#upload-dialog,#delete-dialog { 
    margin-inline: 10%;
    width: 80%;
    left: 0;
    *{
      font-size: 1.5rem;
    }
    form {     
      * {
        font-size: 1.5rem;
      }   
    }
  
  }
  #index{
      .form{
      margin-inline: 10%;
      width: 80%;      
      left: 0;
      *{
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (min-width:577px) and (max-width: 768px) {
  
  #index{
    #not-found{
      font-size: 5rem;
    }
  
  }
  #dashboard {
    position: relative;
    min-height: 100dvh;
   
  
    header {
    
     
     
      #filter {
        display: none;
        form{
          flex-direction: column;      
          
          span{
            width: fit-content;
            display: inline-block;
            position: relative;
            *{
              margin: 0;
            }
           
            button{        
              position: absolute;
              right: 5px;
              top: calc(50% - 0.75rem);
              padding: 2px;
              background:none;
              border: none;        
              img{
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
      
       
      }
      #identity {
        display: none;
       flex-direction: column;
       
      }
      #aside-menu-btn{
        display: inline;
      }
    }
    #body{
      
      #link-list {
        position: absolute;
        right: 0;
        height: 100%;
        width: 0%;       
        opacity: 0;
        transition: 0.3s;     
        z-index: 1;   
        &.active {
          width: 100vw;
          opacity: 1;
        }
       
        
        }
       
    }
    
  }
  } 

@media screen and (min-width:769px) and (max-width:992px){
  #dashboard {
    position: relative;
    min-height: 100dvh;
   
  
    header {
    
     
     
      #filter {
        form{
          flex-direction: column;      
          
          span{
            width: fit-content;
            display: inline-block;
            position: relative;
            *{
              margin: 0;
            }
           
            button{        
              position: absolute;
              right: 5px;
              top: calc(50% - 0.75rem);
              padding: 2px;
              background:none;
              border: none;        
              img{
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
      
       
      }
      #identity {
       flex-direction: column;
       
      }
    }
    #body{
      #link-list {
        width: 20%;
        }
        
      
    }
    
  }
  }